
<% layout("/layouts/boilerplate") %>
    <h3>Create a new listing</h3>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
          <div class="valid-feedback">Title look good!</div> 
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  name="listing[description]" required id="" placeholder="Enter description" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter a short description</div> 
        </div> 
        <!-- <div class="mb-3">
            <label for="images" class="form-label">Image Link </label>
            <input type="text" name="listing[image]" placeholder="Enter image url" class="form-control">
        </div> -->
        <div class="mb-3">
            <label for="images" class="form-label">Upload listing Image </label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input  required name="listing[price]" placeholder="Enter price" class="form-control">
        <div class="invalid-feedback">Price should be valid</div> 
    </div>


        <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" required name="listing[country]" placeholder="Enter country name" class="form-control">
        <div class="invalid-feedback"> Country name should be valid</div> 
    </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" required name="listing[location]" placeholder="Enter location"  class="form-control">
        <div class="invalid-feedback"> location should be valid</div> 
    </div>
        <button class="btn btn-dark add-btn mt-2">Add</button>
    </form>
</div>
</div>